
table {
  width: 100%;
  padding:50px;
}

.decrease {
  -webkit-animation: decrease_color_change .5s 2 alternate;
  -moz-animation: decrease_color_change .5s 2 alternate;
  -ms-animation: decrease_color_change .5s 2 alternate;
  -o-animation: decrease_color_change .5s 2 alternate;
  animation: decrease_color_change .5s 2 alternate;
}

@-webkit-keyframes decrease_color_change {
  from {
    background-color: white;
  }

  to {
    background-color: rgb(255,148,148);
  }
}

@-moz-keyframes decrease_color_change {
  from {
    background-color: white;
  }

  to {
    background-color: rgb(255,148,148);
  }
}

@-ms-keyframes decrease_color_change {
  from {
    background-color: white;
  }

  to {
    background-color: rgb(255,148,148);
  }
}

@-o-keyframes decrease_color_change {
  from {
    background-color: white;
  }

  to {
    background-color: rgb(255,148,148);
  }
}

@keyframes decrease_color_change {
  from {
    background-color: white;
  }

  to {
    background-color: rgb(255,148,148);
  }
}


.increase {
  -webkit-animation: increase_color_change .5s 2 alternate;
  -moz-animation: increase_color_change .5s 2 alternate;
  -ms-animation: increase_color_change .5s 2 alternate;
  -o-animation: increase_color_change .5s 2 alternate;
  animation: increase_color_change .5s 2 alternate;
}

@-webkit-keyframes increase_color_change {
  from {
    background-color: white;
  }

  to {
    background-color: rgb(154,240,117);
  }
}

@-moz-keyframes increase_color_change {
  from {
    background-color: white;
  }

  to {
    background-color: rgb(154,240,117);
  }
}

@-ms-keyframes increase_color_change {
  from {
    background-color: white;
  }

  to {
    background-color: rgb(154,240,117);
  }
}

@-o-keyframes increase_color_change {
  from {
    background-color: white;
  }

  to {
    background-color: rgb(154,240,117);
  }
}

@keyframes increase_color_change {
  from {
    background-color: white;
  }

  to {
    background-color: rgb(154,240,117);
  }
}
.high {
  background: rgb(154,240,117);
  transition: background 1s;
}
